{% extends 'common_page.html' %}
{% block title %} My profile {% endblock title %}

{% block body_content %}
{% load static %}
<div id="dash"> 

  <section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <ul>
        <li>My Profile</li>
      </ul>
    </div>
  </section>
  
    <section class="section main-section">
        <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            {% if my_details %}

                            {% for profile in my_details %}
                            <div class="col-lg-5 mt-5">
                                <div class="card mb-3">
                                    {% if profile.profile_passport %}
                                    <img src="{{profile.profile_passport.url}}" class="card-img img-fluid" alt=" Card image cap" id="product-detail">
                                    {% else %}
                                        <i class="fas fa-user fa-lg fa-fw text-dark me-2"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-7 mt-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>{% if profile.staff == 1 %}STAFF ID: {% else %}CUSTOMER ID: {% endif %}
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                TAT{{profile.user_id}}
                                            </span>
                                        </h5>
                                        <h5>FULLNAME:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.user.first_name}} {{profile.user.last_name}}
                                            </span>
                                        </h5>
                                        <h5>USERNAME:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.user.username}}
                                            </span>
                                        </h5>
                                        <h5>EMAIL ADDRESS:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.user.email}}
                                            </span>
                                        </h5>
                                        <h5>DATE OF BIRTH:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.date_of_birth}}
                                            </span>
                                        </h5>
                                        <h5>GENDER:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.gender}}
                                            </span>
                                        </h5>
                                        <h5>PHONE NUMBER:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.phone}}
                                            </span>
                                        </h5>
                                        <h5>ADDRESS:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.address}}
                                            </span>
                                        </h5>
                                        <h5>STATE:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.state}}
                                            </span>
                                        </h5>
                                        <h5>NATIONALITY:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.nationality}}
                                            </span>
                                        </h5>
                                        <h5>MARITAL STATUS:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.marital_status}}
                                            </span>
                                        </h5>
                                        {% if profile.staff == 1 %}
                                        <h5>POSITION:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.position}}
                                            </span>
                                        </h5>
                                        <h5>DATE OF EMPLOYMENT:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.user.date_joined}}
                                            </span>
                                        </h5>
                                        <h5>MEANS OF IDENTIFICATION:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {% if profile.means_of_identity %}
                                                <img src="{{profile.means_of_identity.url}}" class="card-img img-fluid" alt="Card image cap" id="product-detail"> {% endif %}
                                            </span>
                                        </h5>
                                        <h5>PARTICULARS:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {% if profile.particulars %}
                                                <img src="{{profile.particulars.url}}" class="card-img img-fluid" alt="Card image cap" id="product-detail"> {% endif %}
                                            </span>
                                        </h5>
                                        <h5>NEXT OF KIN:
                                            <span style="color: #0e399c;" class="font-weight-bold">
                                                {{profile.next_of_kin}}
                                            </span>
                                        </h5>
                                        {% endif %}
                    
                                        {% if request.user.is_superuser or request.user.is_staff == 0 %}
                                        <div class="row pb-3">
                                            <div class="col">
                                                <a href="{% url 'edit_profile' profile.user_id %}">
                                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Edit Profile</button>
                                                </a>
                                                <a href="{% url 'deactivate' profile.user_id %}">
                                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="">
                                                        {{profile.user.is_active}}
                                                        {% if profile.user.is_active == 1 %}
                                                        Deactivate
                                                        {% else %}
                                                        Activate
                                                        {% endif %}
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>

                            </div>

                            {% endfor %}
                            {% endif %}
                        </div>
                        <span class="icon widget-icon text-green-500">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/money--v2.png"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock body_content %}  